ul#nav-bar li.top-menu
{
  height: auto;
}

/*--DUE TO PIE, MOUSEOVER EFFECT WAS SHOWING SOME PROBLEMS. SOMETIMES AFTER MOUSEOUT PIE WAS NOT UPDATING THE BACKGROUND OF "a.top-menu". THEREFORE INSTEAD OF APPLYING THE ROLL-OVER EFFECT TO THE LINK WE HAVE APPLIED IT TO "li.first-dd". IF YOU ARE NOT USEING PIE THEN PLEASE DELETE THIS PORTION--*/
ul#nav-bar li.first-dd:hover a.top-menu
{
  background: none;
}

/*--SHOW/HIDE DROPDOWN MENU ON MOUSEOVER/MOUSEOUT--*/
.level1
{
  left: -9999px; /*--HIDE DROPDOWN MENU--*/
  top: -9999px;  /*--HIDE DROPDOWN MENU--*/
  border-top: 1px solid #5d5d5d;
  border-bottom: 2px solid #bebebe;
}

/*--SHOW DROPDOWN MENU ON MOUSEOVER--*/
ul#nav-bar > li:hover .level1
{
  height: auto;
  top: 40px;
  left: 0;   /*--THIS WORKS FOR "left-aligned-dd"--*/
}

/*--FOR FIRST DROPDOWN MENU AND FULL-WIDTH DROPDOWN MENU--*/
ul#nav-bar li.first-dd:hover .level1,
ul#nav-bar li.full-width-dd:hover .level1
{
  left: 20px;
}

/*--FOR RIGHT ALIGNED DROPDOWN MENU--*/
ul#nav-bar li.right-aligned-dd:hover .level1
{
  left: auto;
  right: 0;
}
/*--SHOW/HIDE DROPDOWN MENU ON MOUSEOVER/MOUSEOUT ENDS--*/

/*--DOWNWARD ARROWS ON THE NAV-BAR--*/
ul#nav-bar li.top-menu a.top-menu span em
{
  float: none;
  display: inline-block;
  height: 15px;
  margin-top: 0px;
}

/*--BUTTONS COMMON STYLE--*/
button
{
  overflow: visible;/*--IE7 FIX FOR HORIZONTAL PADDING--*/
}

button span, button em.arrow-right
{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*--MODIFY POSITION FOR TRIANGULAR ARROWS USED IN TEXT LINKS--*/
span.arrow-right
{
  height: 12px;
  background-position: 0px -110px;
}

/*--POSITIONING RIGHT ARROWS OF ONE COLUMN DROPDOWN MENU LINKS AND MULTI-LEVEL FLYOUT MENU LINKS--*/
div.onecol-dd > ul > li > a span em, div.level1 ul.level2 li > a span em
{
  margin: -21px 10px 0px 0px;
}

/*----------------------------------------------FOUR COLUMN DROPDOWN MENU-------------------------------------*/
div.fourcols-dd div.dd-container div.tier2 div.highlight a span.arrow-right
{
  background-position: 0px -128px;
}

div.fourcols-dd div.tier2 div.highlight
{
  padding-bottom: 8px;
}


/*----------------------------------MEMBERS, CONTACT AND SEARCH OPTIONS DROPDOWN MENU--------------------------*/
div.members-dd div form div, div.contact-dd div form div
{
  float: none;
}

div.members-dd form fieldset div span, div.contact-dd form fieldset div span
{
  float: none;
  display: inline-block;
}

div.members-dd button.login, div.contact-dd button.submit
{
  padding: 3px 3px 3px 12px;
}

div.members-dd button.login
{
  width: 76px; /*--YOU NEED TO MENTION THIS, ELSE PIE WILL REDUCE BUTTON WIDTH ON MOUSEOVER--*/
}

div.contact-dd button.submit
{
  width: 85px;/*--YOU NEED TO MENTION THIS, ELSE PIE WILL REDUCE BUTTON WIDTH ON MOUSEOVER--*/
}

li.searchbox-dd button.search
{
  width: 77px; /*--YOU NEED TO MENTION THIS, ELSE PIE WILL REDUCE BUTTON WIDTH ON MOUSEOVER--*/
  height: auto;
  padding: 4px 12px 4px 5px;
}

/*--CREATING FAKE INSET SHADOW AT THE INPUT FIELD AND TEXT AREA--*/
div.members-dd input[type="text"],
div.members-dd input[type="password"],
div.contact-dd input[type="text"],
div.contact-dd textarea
{
  height: 14px;
  padding: 3px 10px 7px;
  border: none;
  box-shadow: 0px -1px 2px #7f7f7f;
}

div.contact-dd form textarea
{
  height: 115px;
  padding: 7px 10px;
}

/*---SEARCH FIELD---*/
li.searchbox-dd input[type="text"]
{
  height: 15px;
  padding: 5px 10px;
  margin-top: 2px;
  box-shadow: 0px -1px 2px #7f7f7f, 0px 1px 1px #adadad;
}

/*-----SEARCH OPTION DROPDOWN BOX-----*/
div.search-options div.dd-container ul li input
{
  width: 13px;  /*--CHECKBOX WIDTH--*/
  margin: 0px 2px 0px 0px;
}

div.search-options div.dd-container ul li label
{
  margin-top: 1px;
}

div.search-options div.dd-container div.advanced-search
{
  display: inline-block; /*--ESCAPE IE7 FLOAT BUG--*/
}

/*--SHOW/HIDE SEARCH OPTION DROPDOWN BOX ON MOUSEOVER/MOUSEOUT--*/
ul#nav-bar li.searchbox-dd:hover div.search-options
{
  left: -9999px; /*--HIDE DROPDOWN MENU--*/
}

ul#nav-bar li.searchbox-dd form:hover div.search-options
{
  height: auto;
  left: auto;
  top: 40px;
  right: 16px;
}

/*----------------------------------------------FLYOUT MENU GENERAL STYLE--------------------------------------------*/
.level2, .level3, .level4
{
  border: 1px solid #d1d1d1;
  border-bottom: 2px solid #bebebe;
  top: 0px;
  left: -9999px; /*--HIDE FLYOUT MENU--*/
}

div.level1 ul.level2 li > a span
{
  margin: 4px;
}

/*--REVEAL FLYOUT MENUS ON MOUSEOVER--*/
div.level1 > ul > li:hover div.level2 /*--2ND LEVEL FLYOUT MENU--*/
{
  left: 184px;
}

/*--REVEAL MULTI-LEVEL FLYOUT MENUS ON MOUSEOVER--*/
div.level1 > ul > li:hover ul.level2, /*--2ND LEVEL FLYOUT MENU--*/
div.level1 ul.level2 > li:hover ul.level3,  /*--3RD LEVEL FLYOUT MENU--*/
div.level1 ul.level3 > li:hover ul.level4 /*--4TH LEVEL FLYOUT MENU--*/
{
  width: 184px;
  left: 184px;
  overflow: visible; /*--UNHIDE FOR NEXT LEVEL FLYOUT MENUS--*/
}
/*----------------------------THREE COLUMNS FLYOUT MENU------------------------*/
div.three-cols-flyout div.tier1 a.arrow-right span.arrow-right
{
  margin: 1px 0px 0px 6px;
}
/*-----------------------------------PRODUCT FLYOUT MENU------------------------------*/
ul.fly-col3 li.fly-first-child /*--SOMEHOW IE7 DID NOT UNDERSTAND ":first-child"--*/
{
  border-left: none;
}

/*--------------------ELECTRONICS-FLYOUT MENU: RESET GENERAL MULTI-LEVEL MENU STYLE FOR LIST ITEMS----------------------*/
/*--OVERRIDE GENERAL WIDTH "184px" AND SPECIFY THE WIDTH OF THIRD LEVEL ELECTRONICS FLYOUT MENU ON MOUSEOVER--*/
div.level1 ul.level2 > li:hover ul.electronics-flyout-lvl3
{
  width: 440px;
  overflow: hidden;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/
/*--PIE FOR SIMULATING CSS3 IN IE. AUTHOR LINK: http://css3pie.com/--*/
/*--WE HAVE PREFERRED NOT TO APPLY PIE TO ".level1", ".level2", ".level3" AND ".level4" AS WE HAVE NOTICED SOMETIMES PIE FAILS TO UPDATE CHANGE OF PROPERTIES AFTER MOUSEOUT. THIS MIGHT CREATE UNWANTED PROBLEMS LIKE: DROPDOWN MENU/FLYOUT MENU WON'T DISAPPEAR AFTER MOUSEOUT AND THEY WILL STAY UNTIL THE PAGE IS REFRESHED. PIE HAS QUITE A FEW ISSUES REGARDING MOUSEOVER. CHECK "instructions.html" FOR MORE INFO. */
ul#nav-bar,
ul#nav-bar li.first-dd,
input, textarea, button,
div.fourcols-dd div.tier1 div.col4 p,
div.fourcols-dd div.tier2 div.highlight
{ behavior: url(css/PIE.htc); }

ul#nav-bar li.first-dd:hover { -pie-background: linear-gradient(#ffa200, #b4441d); }
div.fourcols-dd div.tier1 div.col4 p { -pie-background: linear-gradient( #fff, #f4f4f4 8%, #f4f4f4 92%, #e8e9e7); }
div.fourcols-dd div.tier2 div.highlight { -pie-background: linear-gradient( #9a9b9c, #202020 5%, #202020 95%, #9a9b9c); }